[*.cs]

file_header_template = Copyright (c) Arlo Godfrey. All Rights Reserved.\nLicensed under the GNU Lesser General Public License, Version 3.0 with additional terms.\nSee the LICENSE, LICENSE.LESSER and LICENSE.ADDITIONAL files in the project root for more information.
