[submodule "src/OwlCore"]
	path = src/OwlCore
	url = https://dev.azure.com/arloappx/_git/OwlCore
[submodule "src/Sdk/StrixMusic.Sdk/Apollo"]
	path = src/Sdk/StrixMusic.Sdk/Apollo
	url = https://github.com/Arlodotexe/StrixMusic.Core.Apollo.git
