# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.StrixMusic-NetStandard.iml
# Editor-based HTTP Client requests
/httpRequests/
